@import "../../utils/vars";

.full_size_photo_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: scroll;
  position: fixed;
}

.full_size_photo_image_info_container {
  height: 100%;
  width: 100%;
}

%full_size_photo_basics {
  margin-top: calc(#{$header_height} + 10px);
  z-index: 3;
  position: relative;
}

.full_size_photo {
  @extend %full_size_photo_basics;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: calc(85% - #{$header_height});
}

.full_size_photo:hover {
  cursor: zoom-in;
}

.full_size_photo_zoomed {
  @extend %full_size_photo_basics;
}

.full_size_photo_zoomed:hover {
  cursor: zoom-out;
}

.full_size_photo_info {
  box-shadow: 0 4px 3px 1px #1e1e1f;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 6px 6px 6px;
  min-height: calc(12px + 1.8rem);
  width: calc(19rem + 6px);
  min-width: calc(18rem + 12px);
  font-size: 1.3rem;
  overflow: hidden;
  background-color: #f1f2f6;
}

.grey_shade_background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.4);
}
