@mixin photoThumbnailDimensions() {
  height: 150px;
  width: 150px;
}

@mixin photoThumbnailMaxDimensions() {
  height: 150px;
  width: 150px;
}

$photo_list_entry_r_padding: 9px;

$header_height: calc(2rem + 35px);

$pagination_border_color: #dedede;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: arial;
  background-color: #ebedf5;
}

body {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
}

.page_header {
  box-shadow: 0 0 5px 0 #d9dadb;
  width: 100%;
  height: $header_height;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: #f7f8fa;
}

.photo_list {
  padding: 0 calc(5% - $photo_list_entry_r_padding) 0 5%;
  margin-top: calc(#{$header_height} + 13px);
  text-align: center;
}

.photo_list_entry {
  margin: 0 $photo_list_entry_r_padding 7px 0;
  padding: 0;
  @include photoThumbnailDimensions();
  overflow: hidden;
  display: inline-block;
}

.photo_list_entry_img {
  @include photoThumbnailMaxDimensions();
}

.photo_list_entry:hover {
  filter: brightness(82%);
  cursor: pointer;
}

.photo_list_pagination {
  margin-top: 13px;
  margin-bottom: 16px;
}

.photo_list_pagination_entry {
  padding: 1.3rem 1.7rem 1.3rem 1.7rem;
  margin: 0 0 0 0;
  border-top: 1px solid $pagination_border_color;
  border-right: 1px solid $pagination_border_color;
  border-bottom: 1px solid $pagination_border_color;
  list-style-type: none;
  display: inline-block;
  font-size: 1.6rem;
  background-color: #f2f3f5;
}

.photo_list_pagination_entry:hover {
  background-color: #fafafa; 
  border-color: #f2f2f2;
  cursor: pointer;
}

.photo_list_pagination_entry:active {
  background-color: #c2c2c2;
  border-color: #b5b5b5;
  cursor: pointer;
}

.photo_list_pagination_selected {
  box-shadow: inset 0 0 3px 2px #7890f0;
  border-color: #7890f0;
  background-color: #8099ff;
}

.photo_list_pagination_selected:hover {
  background-color: #8099ff;
  border-color: #7890f0;
}

.photo_list_pagination_entry_first {
  border-left: 1px solid $pagination_border_color;
}

.photo_list_pagination_entry_link {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.photo_list_pagination_selected_link {
  color: #fafafa;
}

.full_size_photo {
  margin-top: calc(#{$header_height} + 10px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  max-height: 90%;
  z-index: 2;
  position: fixed;
}

.grey_shade_background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.4);
}
